header {
    border: solid 1px goldenrod;
}

header ul {
    display: flex;
}

header li {
    margin: 10px;
    list-style: none;
}

.disabled {
    color: grey;
}

a .disabled, 
a.disabled  {
    color: purple;
}

.active {
    color: yellow;
}

/* jisie solution: .parent > div > div {
    color: red;
} */
.parent > div > div:nth-child(1) {
    color: red;
}

/* jisie solution: .parent > div > div + h4 */
.parent > div > div:nth-child(3) {
    color: blue;
}


.parent > div > div:nth-child(1) + h4 {
    background-color: red;
}

/* jisie solution: .parent > div > h4 + div + h4 */
.parent > div > div:nth-child(3) + h4 {
    background-color: blue;
}

.grandparent > h4 {
    border: solid 1px black;
    border-radius: 5px;
}

.promo {
    font-weight: bold;
    color: gold;
}

/* footer input {
    height: 25px;
} */

input[type=text] {
    height: 25px;
}

input[type=tel]{
    height: 25px;
}